*{
    margin: 0;
    padding: 0;
}
#logo{
    width: 160px;
    height: 110px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #efefef;
    color: #0a3143;
    text-align: center;
    font-size: 20px;
}
h1{ /*Titulo principal*/
    color: #276e90;
    font-size: 33px;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

li { /*Barra de navegacion*/
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;    
    padding: 2px;
    
}
.menu li:hover{
    text-decoration: underline;
}
a{ /*Barra de navegacion 2*/
    text-decoration: none;
    color: #0a3143;
    padding: 15px;
}
p{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 395;
    text-align: justify;
    border: 7px solid #eaf3f8;
    background-color: #aee4fd93;
}

#destinosofrecidos{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    background-color:  #91dafc6c;
    border: 6px solid rgb(255, 255, 255) ;
}
.seccionimag { /*Corregir ancho borde*/
    border: 6px solid #91dafc6c;
    display: inline-block;
    margin-top: 20px;
    padding: 25px;
    padding-top: 0px;
}
.seccionimag img {
    border: 6px solid rgb(255, 255, 255);
    margin: 6px;
    width: 250px;
    height: 250px;
}

.dest{ /*/Estilo para los H3 que son los destinos*/
    text-decoration: underline;
    padding: 20px;
}

form{
    color: #0a3143;
    margin: 15px;
    display: inline-block;
    background-color:  #91dafc6c;
}
#boton { 
    background-color: #0a3143;
    font-family: 'Rubik', sans-serif;
    color: #efefef;
    
}
fieldset{
    display: inline;
    color: #0a3143;
    font-size: 15px;
    padding: 10px
}

footer{
    margin: 0px 10px 10px 10px;
    font-size: 13px;
    display: inline-block;
}
.redes{ 
    margin: 3px;
}

.redes img {
    width: 35px;
    height: 35px;
}

.ultimostitulos{
    margin: 15px;
}
iframe{
    height: 200px;
    width: 250px;
    margin: 15px; 
}
/*Estilos paises*/

.titulos3{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    background-color: #91dafc6c;
    border: 4px solid rgb(255, 255, 255); 

}
h4{
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background-color: #a1d9f36c;
    border: 2px solid rgb(255, 255, 255);

}
.destinosturisticos {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px
}
.section1 {
    border: 6px solid #91dafc6c;
    margin-top: 20px;
    padding: 10px;
}
.section1 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;  
    border: 6px solid rgb(255, 255, 255);
}
.section2 {
    background-color: #91dafc6c;
    border: 6px solid rgb(255, 255, 255);
    padding: 10px;
}
.estilo-section2 {
  background-color: #eaf3f8;
  border: 6px solid #69b2d46c
}
.section2 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;  
    border: 6px solid rgb(255, 255, 255);
}
.section3 {
    border: 6px solid #91dafc6c;
    padding: 10px;
}
.section3 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;  
    border: 6px solid rgb(255, 255, 255);
}

#tabla{
    color: black;
    font-size: 8px;
    font-weight: 300;
    border: 1px solid #0a3143;
    margin: 10px;

}
td {
   border: 1px solid #0a3143;
   padding: 3px; 
 }

@media(min-width: 768px){
    #logo{
        width: 300px;
        height: 210px;
    }
    header{
        margin: 30px 15px 40px 15px;
    }
    body{
        font-size: 30px;
    }
    h1{
        font-size: 55px;
        margin: 25px 0px 40px 0px;           
    }
    li { 
        display: inline;
        /*margin: 40px 0px 40px 0px;*/
        padding: 0px;
        font-size: 28px;
    }
    p{
        margin: 15px 50px 15px 50px;
        font-size: 14px;
    }
    #destinosofrecidos{
        font-size: 30px;
    }
    .seccionimag img {
        border: 10px solid rgb(255, 255, 255);
        margin: 10px;
        width: 300px;
        height: 300px;
    }
    form{
        margin: 40px;
    }
    #boton {
        width: 80px;
        height: 25px;
        font-size: 18px;
    }
    #barra{
        width: 300px;
        height: 23px;
    }
    fieldset{
        font-size: 23px;
        padding: 20px
    }
    footer{
        font-size: 18px;
    }
    .redes{ 
        margin: 20px;
    }
    
    .redes img {
        width: 55px;
        height: 55px;
    }
    iframe{
        height: 350px;
        width: 400px;
        margin: 15px; 
    }
    .titulos3{
        font-size: 45px;
    }
    .lipaises { 
        display: inline;
        padding: 10px;
        font-size: 20px;
    }
    h4{
        font-size: 30px;
    }
    .section1 img{
        width: 400px;
        height: 300px;
    }
    .section2 img{
        width: 400px;
        height: 300px;
    }
    .section3 img{
        width: 400px;
        height: 300px;
    }
    .destinosturisticos {
            display: block;
            font-size: 15px;
            margin:15px;
    }
    .flex-container-secundario{
            display: flex;
            flex-direction: row;
            justify-content: center;
    }
    .flex-container-secundario img {
        display: inline-block;
        margin: 5px;
        width: 200px;
        height: 120px;
    }
    .cajadestinos{
            margin: 3px;
            width: 220px;
            height: 540px;
            background-color: #91dafc6c;
            border: 4px solid #69b2d46c;
    }
        .cajadestinos p{
            margin: 2px;
            display: block;
            font-style: normal;
            font-weight: 5px;
            background-color: #eaf3f8;
    }
        #tabla {
            font-size: 15px;
    }
}
@media(min-width: 1000px){
    #logo{
        width: 320px;
        height: 230px;
    }
    h1{
        font-size: 65px;
    }
    li {
        font-size: 25px;
        padding: 20px;
        margin: 15px;
    }
    .lipaises {
        font-size: 25px;
        padding: 20px;
        margin: 15px;
    }
    p{ 
        margin: 50px 180px 50px 180px;
        font-size: 16px;
    }
    .seccionimag img {
        width: 380px;
        height: 380px;
    }
    iframe{
        height: 400px;
        width: 450px;
        margin: 15px; 
    }
    .section1 img{
        width: 600px;
        height: 400px;
    }
    .section2 img{
        width: 600px;
        height: 400px;
    }
    .section3 img{
        width: 600px;
        height: 400px;
    }
    #destinosofrecidos {
        font-size: 40px;
        padding: 15px 60px 15px 60px;
        margin: 40px;        
    }
    .flex-container-secundario img {
        display: inline-block;
        margin: 5px;
        width: 280px;
        height: 200px;
    }
    .titulos3 {
        font-size: 50px;
        padding: 15px 60px 15px 60px; 
    }
    h4 {
        font-size: 30px;
    }
    .destinosturisticos {
        text-decoration: underline;
        text-align: center;
        font-size: 20px;
        margin-top: 25px;
    }
    .cajadestinos{
        width: 350px;
        height: 700px;
        background-color: #91dafc6c;
        border: 4px solid #69b2d46c;
        margin: 10px 6px 10px 6px;
    }
    .cajadestinos p{
        display: block;
        font-style: normal;
        font-weight: 200;
        background-color: #eaf3f8;
        margin: 20px;
    
    }
    #tabla {
        display: inline-block; 
        align-items: center;
        margin: 50px;
        font-size: 20px;
    }
}

