* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 160px;
    height: 110px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #efefef;
    color: #0a3143;
    text-align: center;
    font-size: 20px;
}

h1 {
    /*Titulo principal*/
    color: #276e90;
    font-size: 33px;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

li {
    /*Barra de navegacion*/
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    padding: 2px;

}

.menu li:hover {
    text-decoration: underline;
}

a {
    /*Barra de navegacion 2*/
    text-decoration: none;
    color: #0a3143;
    padding: 15px;
}

p {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 395;
    text-align: justify;
    border: 7px solid #eaf3f8;
    background-color: #aee4fd93;
}

#destinosofrecidos {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    background-color: #91dafc6c;
    border: 6px solid rgb(255, 255, 255);
}

.seccionimag {
    /*Corregir ancho borde*/
    border: 6px solid #91dafc6c;
    display: inline-block;
    margin-top: 20px;
    padding: 25px;
    padding-top: 0px;
}

.seccionimag img {
    border: 6px solid rgb(255, 255, 255);
    margin: 6px;
    width: 250px;
    height: 250px;
}

.dest {
    /*/Estilo para los H3 que son los destinos*/
    text-decoration: underline;
    padding: 20px;
}

.recibi-ofertas {
    color: #0a3143;
    margin: 15px;
    display: inline-block;
    background-color: #91dafc6c;
}

#boton {
    background-color: #0a3143;
    font-family: 'Rubik', sans-serif;
    color: #efefef;

}

fieldset {
    display: inline;
    color: #0a3143;
    font-size: 15px;
    padding: 10px
}

.irAlInicio a {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    background-color: #91dafc6c;
    border: 6px solid rgb(255, 255, 255);
}

.registrate {
    font-size: 18px;
    padding: 15px;
    text-decoration: underline;

}

.registrate:hover {
    font-size: 24px;
}

footer {
    margin: 0px 10px 10px 10px;
    font-size: 13px;
    display: inline-block;
}

.redes {
    margin: 3px;
}

.redes img {
    width: 35px;
    height: 35px;
}

.ultimostitulos {
    margin: 15px;
}

iframe {
    height: 200px;
    width: 250px;
    margin: 15px;
}

.clima {
    padding: 5px;
    background-color: #eaf3f8;
    border: 1px solid #b8babb;
    margin: 2% 20% 2% 20%;
}
.clima h4{
    font-size: 45%;
    color: #0a3143;
    margin: 3px 20px 1px 20px;
    padding: 1px;
}
.clima h5{
    font-size: 40%;
    color: #0a3143;
    margin-top: 3px;
    padding: 1px;
}

.clima button {
    font-size: 40%;
}
.clima p {
    display: inline-flex;
    align-items: center;
    padding: 1px;
    background-color: #eaf3f8;
    font-size: 50%;
    font-weight: 500;
    margin: 1px;
}
.clima img {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    width: 9%;
    height: 9%;
}
#cityInput{
    font-size: 8px;
}

/*Estilos paises*/

.titulos3 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    background-color: #91dafc6c;
    border: 4px solid rgb(255, 255, 255);

}

h4 {
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background-color: #a1d9f36c;
    border: 2px solid rgb(255, 255, 255);

}

.destinosturisticos {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px
}

.section1 {
    border: 6px solid #91dafc6c;
    margin-top: 20px;
    padding: 10px;
}

.section1 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;
    border: 6px solid rgb(255, 255, 255);
}

.section2 {
    background-color: #91dafc6c;
    border: 6px solid rgb(255, 255, 255);
    padding: 10px;
}

.estilo-section2 {
    background-color: #eaf3f8;
    border: 6px solid #69b2d46c
}

.section2 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;
    border: 6px solid rgb(255, 255, 255);
}

.section3 {
    border: 6px solid #91dafc6c;
    padding: 10px;
}

.section3 img {
    display: inline-block;
    margin-top: 10px;
    height: 150px;
    width: 250px;
    border: 6px solid rgb(255, 255, 255);
}

#tabla {
    color: black;
    font-size: 8px;
    font-weight: 300;
    border: 1px solid #0a3143;
    margin: 10px;

}

td {
    border: 1px solid #0a3143;
    padding: 3px;
}

/*Formulario Registro*/
.formulario {
    background-color: rgb(204, 197, 197);
    border-radius: 10px;
}

.form-cuerpo {
    display: inline-block;
    margin: 20px;
    width: 60%;

}

.formulario h2 {
    font-size: 20px;
    padding-top: 25px;
}

.formulario label {
    font-size: 14px;
    margin: 8px;
    width: 100%;
}

.formulario select {
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 8px;

}

.formulario input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border-color: #efefef;
    text-align: center;
}

.formulario div {
    font-size: 14px;
    margin: 8px;
    width: 100%;
    color: red;
}

.btn-register {
    display: block;
}

.formulario a {
    display: block;
}

.formulario form {
    background-color: rgb(204, 197, 197)
}

.btn-register {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

.btn-register:hover {
    background-color: #0a3143;
}

.enlace-cuenta {
    font-size: 11px;
    text-decoration: underline;
}

.mensaje {
    font-size: 14px;
    margin: 8px;
    width: 100%;
    color: black;
    text-align: center;
}

/*Formulario Login*/

main#ventana-login {
    margin: 0px 0px;
    max-width: 100%;
    width: 100%;
    background-position: center;
}

#ventana {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 70px auto;
    row-gap: 20px;
    padding: 10px;
    align-items: center;
}

#ventana>h3 {
    font-size: 20px;
    font-weight: 500;
}

#ventana>form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%;
}

#ventana form>input {
    font-size: 14px;
    line-height: 24px;
    text-indent: 5px;
    border-radius: 10px;
    text-align: center;
}

#ventana>p {
    font-size: 12px;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#ventana>button {
    border: transparent;
    width: 60px;
    height: 25px;
    border-radius: 5px;
}

#ventana>button>a {
    color: white;
    padding: 5px;
    font-size: 12px;
}

#loginBtn {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;

}

.go-to-regis {
    display: flex;
    align-items: center;
    width: 80%;
}

.go-to-regis>b {
    width: 50%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.go-to-regis>a {
    width: 50%;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(204, 197, 197);
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}

.ingreso-con-red {
    display: flex;
    width: 80%;
    height: 25px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 5px;
}

.ingreso-con-red.face {
    background-color: #3b5998;
    color: white;
    font-size: 12px;
    border: 1px solid #3b5998;

}

.ingreso-con-red.google {
    background-color: #db4a39;
    color: white;
    font-size: 12px;
    border: 1px solid #db4a39;
}

#ventana>form>a:visited {
    color: black;
}

.recordar-usuario-container {
    display: flex;
    align-items: center;
}

.recordar-usuario-label {
    color: #333;
    font-size: 14px;
}

.recordar-usuario-checkbox {
    transform: scale(0.8);
    margin-left: 3px;
    height: 14px;
    width: 14px;
}
/*Login JS*/
#imagenLogin {
    width: 8%;
    height: 8%;
    background-color: transparent;

}
#botonLogin {
    border: none;
    background-color: transparent;
}

/*Nuestra Tienda*/
#tienda-nav {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: grid;
    justify-items: center;
}

#tienda-nav>h2 {
    font-size: 20px;
}

.listas-nav {
    list-style-type: none;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-color: #eaf3f8;

}

.listas-nav ul li {
    font-size: 12px;
}

.listas-nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 10px;
}

.productos {
    display: grid;
    justify-items: center;
}

.producto {
    width: 60%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto h3 {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.producto h4 {
    font-size: 15px;
    text-align: center;
    margin: 2px;
}

.producto img {
    max-width: 100%;
}

.producto p {
    text-align: center;
    padding: 10px;
}

.producto button {
    border-radius: 10px;
    padding: 10px;
    color: #0a3143;
}

.producto button:hover {
    background-color: #0a3143;
    color: #ccc;
}

.tienda {
    background-color: #333;
    color: #fff;
    border-color: #fff;
    text-align: center;
    padding: 10px;
}

/*Carrito---------------------------------------------------------*/
#title-cart {
    padding: 10px;
    margin: 10px;
}

.carrito-text>p {
    text-align: center;
}
.carrito-text>a {
    font-size: 12px;
    text-decoration: underline;
    margin: 10px;
}

.barra-contenedor1{
    margin: 20px;
    width: 100%;
    height: 50%;
}
.carrito {
    display: grid;
    justify-items: center;
}

.product img {
    max-width: 100%;
}

.product {
    width: 60%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;

}

.product p {
    text-align: center;
}

.product .add-to-cart {
    border-radius: 10px;
    padding: 10px;
    color: #0a3143;
}

aside p {
    text-align: center;
}

aside>button>#checkout-button {
    border-radius: 10px;
    padding: 10px;
    color: #0a3143;
}
 



@media(min-width: 768px) {
    #logo {
        width: 300px;
        height: 210px;
    }

    header {
        margin: 30px 15px 40px 15px;
    }

    body {
        font-size: 30px;
    }

    h1 {
        font-size: 55px;
        margin: 25px 0px 40px 0px;
    }

    li {
        display: inline;
        /*margin: 40px 0px 40px 0px;*/
        padding: 0px;
        font-size: 28px;
    }

    p {
        margin: 15px 50px 15px 50px;
        font-size: 14px;
    }

    #destinosofrecidos {
        font-size: 30px;
        margin: 10px;
    }

    .seccionimag img {
        border: 10px solid rgb(255, 255, 255);
        margin: 10px;
        width: 300px;
        height: 300px;
    }

    form {
        margin: 40px;
    }

    #boton {
        width: 80px;
        height: 25px;
        font-size: 18px;
    }

    #barra {
        width: 300px;
        height: 23px;
    }

    fieldset {
        font-size: 23px;
        padding: 20px
    }

    footer {
        font-size: 18px;
    }

    .redes {
        margin: 20px;
    }

    .redes img {
        width: 55px;
        height: 55px;
    }

    iframe {
        height: 350px;
        width: 400px;
        margin: 15px;
    }

    .titulos3 {
        font-size: 45px;
    }

    .lipaises {
        display: inline;
        padding: 10px;
        font-size: 20px;
    }

    h4 {
        font-size: 30px;
    }

    .section1 img {
        width: 400px;
        height: 300px;
    }

    .section2 img {
        width: 400px;
        height: 300px;
    }

    .section3 img {
        width: 400px;
        height: 300px;
    }

    .destinosturisticos {
        display: block;
        font-size: 15px;
        margin: 15px;
    }

    .flex-container-secundario {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-container-secundario img {
        display: inline-block;
        margin: 5px;
        width: 200px;
        height: 120px;
    }

    .cajadestinos {
        margin: 3px;
        width: 220px;
        height: 540px;
        background-color: #91dafc6c;
        border: 4px solid #69b2d46c;
    }

    .cajadestinos p {
        margin: 2px;
        display: block;
        font-style: normal;
        font-weight: 5px;
        background-color: #eaf3f8;
    }

    #tabla {
        font-size: 15px;
    }   
    /*clima*/
    .clima img {
        width: 7%;
        height: 7%;
    }

    /*Formulario Registro*/


    .form-cuerpo {
        margin: 20px;
        width: 60%;

    }

    .formulario h2 {
        font-size: 30px;
        padding-top: 25px;
    }

    .formulario label {
        display: block;
        font-size: 18px;
        margin: 8px;
        width: 100%;
    }

    .formulario select {
        font-size: 16px;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        padding: 8px;

    }

    .formulario input {
        height: 30px;
        width: 100%;
        border-radius: 8px;
        border-color: #efefef;
        text-align: center;
    }

    .btn-register {
        display: block;
    }

    .formulario a {
        display: block;
    }

    .formulario form {
        background-color: rgb(204, 197, 197)
    }

    .btn-register {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: inline-block;
        width: 20%;
    }

    .btn-register:hover {
        background-color: #0a3143;
    }

    .enlace-cuenta {
        font-size: 18px;
        text-decoration: underline;
    }

    /*Tienda*/

}

@media(min-width: 1000px) {
    #logo {
        width: 320px;
        height: 230px;
    }

    h1 {
        font-size: 65px;
    }

    li {
        font-size: 25px;
        padding: 20px;
        margin: 15px;
    }

    .lipaises {
        font-size: 25px;
        padding: 20px;
        margin: 15px;
    }

    p {
        margin: 50px 180px 50px 180px;
        font-size: 16px;
    }

    .seccionimag img {
        width: 380px;
        height: 380px;
    }

    iframe {
        height: 400px;
        width: 450px;
        margin: 15px;
    }

    .section1 img {
        width: 600px;
        height: 400px;
    }

    .section2 img {
        width: 600px;
        height: 400px;
    }

    .section3 img {
        width: 600px;
        height: 400px;
    }

    #destinosofrecidos {
        font-size: 40px;
        padding: 15px 60px 15px 60px;
        margin: 40px;
    }

    .flex-container-secundario img {
        display: inline-block;
        margin: 5px;
        width: 280px;
        height: 200px;
    }

    .titulos3 {
        font-size: 50px;
        padding: 15px 60px 15px 60px;
    }

    h4 {
        font-size: 30px;
    }

    .destinosturisticos {
        text-decoration: underline;
        text-align: center;
        font-size: 20px;
        margin-top: 25px;
    }

    .cajadestinos {
        width: 350px;
        height: 700px;
        background-color: #91dafc6c;
        border: 4px solid #69b2d46c;
        margin: 10px 6px 10px 6px;
    }

    .cajadestinos p {
        display: block;
        font-style: normal;
        font-weight: 200;
        background-color: #eaf3f8;
        margin: 20px;

    }

    #tabla {
        display: inline-block;
        align-items: center;
        margin: 50px;
        font-size: 20px;
    }

    /*Clima*/
    .clima{
        padding: 5px;
        margin: 0.5% 30%;
    }
    .clima h4{
        font-size: 50%;
    }
    .clima img{
        width: 5%;
        height: 5%;
    }
    .clima button {
        font-size: 50%;
    }
    #cityInput{
        font-size: 13px;
    }
}